<script>
  if (window.navigator && navigator.serviceWorker) {
    navigator.serviceWorker.getRegistrations()
      .then(function (registrations) {
        for (let registration of registrations) {
          console.log('Exorcising Service Worker:', registration);
          registration.unregister();
        }
      });
  }
</script>

<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@strudel/web-component@latest/+esm"
></script>

<style>
  strudel-repl {
    --strudel-bg: #1b1b1b;
    --strudel-text: #c9d1d9;
    --strudel-primary: #1e88e5;
    min-height: 150px;
    margin: 2rem 0;
    display: block;
    border: 1px solid #3b4045;
    border-radius: 8px;
    overflow: hidden;
  }
</style>
